{% load static %}

<!DOCTYPE html>
<html>

<head>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'image/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'image/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'image/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'image/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'image/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <title>Molson Flooring Inc.</title>
    <meta charset="UTF-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1.0, user-scalable=no">
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    
    <!-- Global site tag (gtag.js) - Google Analytics -->

</head>

<body>


<header>
    <h1 class="logo">
    </h1>

    <input type="checkbox" id="nav-toggle" class="nav-toggle">

    <nav>
    <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'product' %}">Products</a></li>
        <li><a href="{% url 'services' %}">Services</a></li>
        <li><a href="{% url 'gallery' %}">Gallery</a></li>
        <li><a href="{% url 'contact' %}">Contact us</a></li>
    </ul>
    </nav>

    <label for="nav-toggle" class="nav-toggle-label">
    <span></span>
    </label>

</header>
    

    {% block content %}
	
	{% endblock %}


<footer>
    <div class="footer-textarea">
        <h1>Find a Molson Flooring<br>shop near you. </h1>
        <p>Our locations are conveniently located in Toronto and Mississauga.<br>
            Please contact us with any questions you may have. </p>
    </div>

    <div class="footer-cols-area">
        <ul class="unstyled-list">
            <li><strong>Markham Store</strong></li>
            <li>470 Denison St<br>
                Markham, ON L3R 1B9</li>
            <li>+1-(905)-604-8058</li>
            <li>Mon - Fri&nbsp;&nbsp;&nbsp;09:00 am –18:00 pm<br>
                Sat&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;09:00 am –16:00 pm<br>
                Sun&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Closed
            </li>

        </ul>
    </div>

    <div class="footer-cols-area">
        <ul class="unstyled-list">
            <li><strong>Mississauga Store</strong></li>
            <li>1274 Eglinton Ave East, <br>
                Mississauga, ON, L4W 1K8</li>
            <li>+1-(905)-602-0266</li>
            <li>Mon - Fri&nbsp;&nbsp;&nbsp;09:00 am –18:00 pm<br>
                Sat&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;09:00 am –16:00 pm<br>
                Sun&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Closed
            </li>
        </ul>
    </div>

    <div class="footer-copyrights">
        <p>Copyright &copy; 2021 Molson Flooring and More Inc. All Rights Reserved.</p>
    </div>

</footer>

    
</body>


</html>