{% load static %}

<!DOCTYPE html>
<html>

<head>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'image/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'image/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'image/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'image/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'image/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <title>Molson Flooring Inc.</title>
    <meta charset="UTF-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1.0, user-scalable=no">
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    
    <!-- Global site tag (gtag.js) - Google Analytics -->

</head>

<body>


<header>
    <h1 class="logo">
    </h1>

    <input type="checkbox" id="nav-toggle" class="nav-toggle">

    <nav>
    <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'product' %}">Products</a></li>
        <li><a href="{% url 'services' %}">Services</a></li>
        <li><a href="{% url 'gallery' %}">Gallery</a></li>
        <li><a href="{% url 'contact' %}">Contact us</a></li>
    </ul>
    </nav>

    <label for="nav-toggle" class="nav-toggle-label">
    <span></span>
    </label>

</header>
    

    {% block content %}
	
	{% endblock %}


    <footer>

    </footer>

    
</body>


</html>